IO_LOC "clk" E2;
//IO_LOC "rst" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
//IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC "o_debug_data[0]" H1;
IO_PORT "o_debug_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[1]" K7;
IO_PORT "o_debug_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[2]" L7;
IO_PORT "o_debug_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[3]" L10;
IO_PORT "o_debug_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[4]" L9;
IO_PORT "o_debug_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[5]" J8;
IO_PORT "o_debug_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[6]" F7;
IO_PORT "o_debug_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_debug_data[7]" J11;
IO_PORT "o_debug_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;